/**
 * Default styling for Flag links.
 * 
 * Inspired by Bootstrap.
 * @see https://getbootstrap.com/docs/4.1/components/buttons/
 */
.flag, 
.flag-count {
  position: relative;
  display: inline-block;
  --white: #ffffff;
  --success: #007bff;
  --warning: #ffc107;
  --error: #dc3545;
  
  overflow: visible;
  white-space: nowrap;
}
.flag a:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.flag a {
  text-transform: none;
  overflow: visible;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
  color: var(--success);
  background-color: transparent;
  background-image: none;
  border-color: var(--success);
}
/* Flagging */
.flag a:hover {
  border-width: 1px;
  border-style: solid;
  border-color: var(--success);
  background-color: var(--success);
  color: var(--white);
}
/* Unflagging */
.flag.action-unflag a:hover {
  border-color: var(--error);
  background-color: var(--error);
  color: var(--white);
}
/* Ajax effect */
.flag .ajax-progress {
  display: block;
  height: 30px;
  width: 30px;
  margin: auto;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}
.js-flag-message {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -20px;
  width: auto;
  text-align: center;
}
/* Flags count */
.flag-count-label,
.flag-count-value {
  display: inline-block;
}
.flag-count-value {
  padding: 5px;
  text-align: center;
}
/* Flags toolbar */
.social-components {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.social-count,
.social-actions {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
/* Flags toolbar - Desktop styles */
@media screen and (min-width: 48em) {

  .social-count,
  .social-actions {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .social-count > div,
  .social-actions > div {
    padding-left: .25rem;
    padding-right: .25rem;
  }
  .social-count > div:first-child,
  .social-actions > div:first-child {
    padding-left: 0;
    padding-right: .5rem;
  }
  .social-count > div:last-child,
  .social-actions > div:last-child {
    padding-left: .5rem;
    padding-right: 0;
  }

}

/* Rating flag styling */
.flag-rating-icon {
  border: none;
}
.flag-rating .js-flag-message {
  position: relative;
}


/* Like/Dislike flag styling */
.flag-like-node a,
.flag-like-term a,
.flag-like-comment a,
.flag-dislike-node a,
.flag-dislike-term a,
.flag-dislike-comment a {
  border: none;
}
.flag-like-node.action-unflag a:hover,
.flag-like-term.action-unflag a:hover,
.flag-like-comment.action-unflag a:hover,
.flag-like-node a:hover,
.flag-like-term a:hover,
.flag-like-comment a:hover,
.flag-dislike-node.action-unflag a:hover,
.flag-dislike-term.action-unflag a:hover,
.flag-dislike-comment.action-unflag a:hover,
.flag-dislike-node a:hover,
.flag-dislike-term a:hover,
.flag-dislike-comment a:hover {
  border: none;
  background-color: transparent;
}
.flag-like-node svg,
.flag-like-term svg,
.flag-like-comment svg,
.flag-dislike-node svg,
.flag-dislike-term svg,
.flag-dislike-comment svg {
  transition: all 200ms linear;
}
/* Like styles */
.flag-like-node.action-unflag svg,
.flag-like-term.action-unflag svg,
.flag-like-comment.action-unflag svg,
.flag-like-node.action-flag a:hover svg,
.flag-like-term.action-flag a:hover svg,
.flag-like-comment.action-flag a:hover svg {
  fill: var(--success);
}
.flag-like-node.action-unflag a:hover svg,
.flag-like-term.action-unflag a:hover svg,
.flag-like-comment.action-unflag a:hover svg {
  fill: var(--error);
  opacity: 0.9;
}
/* Dislike styles */
.flag-dislike-node.action-unflag svg,
.flag-dislike-term.action-unflag svg,
.flag-dislike-comment.action-unflag svg,
.flag-dislike-node.action-flag a:hover svg,
.flag-dislike-term.action-flag a:hover svg,
.flag-dislike-comment.action-flag a:hover svg {
  fill: var(--error);
}
.flag-dislike-node.action-unflag a:hover svg,
.flag-dislike-term.action-unflag a:hover svg,
.flag-dislike-comment.action-unflag a:hover svg {
  opacity: 0.9;
}
