<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   id="Capa_1"
   x="0px"
   y="0px"
   width="30px"
   height="30px"
   viewBox="0 0 475.099 475.099"
   style="enable-background:new 0 0 475.099 475.099;"
   xml:space="preserve"
   sodipodi:docname="thumbs-up.svg"
   inkscape:version="0.92.3 (2405546, 2018-03-11)"><metadata
   id="metadata41"><rdf:RDF><cc:Work
       rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
         rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
   id="defs39" /><sodipodi:namedview
   pagecolor="#ffffff"
   bordercolor="#666666"
   borderopacity="1"
   objecttolerance="10"
   gridtolerance="10"
   guidetolerance="10"
   inkscape:pageopacity="0"
   inkscape:pageshadow="2"
   inkscape:window-width="1920"
   inkscape:window-height="1025"
   id="namedview37"
   showgrid="false"
   inkscape:zoom="0.49673858"
   inkscape:cx="237.5495"
   inkscape:cy="237.5495"
   inkscape:window-x="0"
   inkscape:window-y="27"
   inkscape:window-maximized="1"
   inkscape:current-layer="Capa_1" />
<g
   id="g4"
   transform="matrix(-1,0,0,0.97457627,481.1374,6.0262777)">
	<path
   d="m 442.829,265.532 c 9.328,-14.089 13.986,-29.598 13.986,-46.538 0,-19.607 -7.225,-36.637 -21.687,-51.117 -14.469,-14.465 -31.601,-21.696 -51.394,-21.696 h -50.251 c 9.134,-18.842 13.709,-37.117 13.709,-54.816 0,-22.271 -3.34,-39.971 -9.996,-53.105 C 330.533,25.122 320.824,15.465 308.07,9.276 295.313,3.09 280.947,0 264.959,0 c -9.712,0 -18.274,3.521 -25.697,10.566 -8.183,7.993 -14.084,18.274 -17.699,30.837 -3.617,12.559 -6.521,24.6 -8.708,36.116 -2.187,11.515 -5.569,19.652 -10.135,24.41 -9.329,10.088 -19.511,22.273 -30.551,36.547 -19.224,24.932 -32.264,39.685 -39.113,44.255 H 54.828 c -10.088,0 -18.702,3.574 -25.84,10.706 -7.135,7.139 -10.705,15.752 -10.705,25.841 v 182.723 c 0,10.089 3.566,18.699 10.705,25.838 7.142,7.139 15.752,10.711 25.84,10.711 h 82.221 c 4.188,0 17.319,3.806 39.399,11.42 23.413,8.186 44.017,14.418 61.812,18.702 17.797,4.284 35.832,6.427 54.106,6.427 h 26.545 10.284 c 26.836,0 48.438,-7.666 64.809,-22.99 16.365,-15.324 24.458,-36.213 24.27,-62.67 11.42,-14.657 17.129,-31.597 17.129,-50.819 0,-4.185 -0.281,-8.277 -0.855,-12.278 7.23,-12.748 10.854,-26.453 10.854,-41.11 -0.003,-6.853 -0.858,-13.423 -2.573,-19.7 z M 85.949,396.58 c -3.616,3.614 -7.898,5.428 -12.847,5.428 -4.95,0 -9.233,-1.813 -12.85,-5.428 -3.615,-3.613 -5.424,-7.897 -5.424,-12.85 0,-4.948 1.805,-9.229 5.424,-12.847 3.621,-3.617 7.9,-5.425 12.85,-5.425 4.949,0 9.231,1.808 12.847,5.425 3.617,3.617 5.426,7.898 5.426,12.847 0,4.953 -1.809,9.237 -5.426,12.85 z M 414.145,242.419 c -4.093,8.754 -9.186,13.227 -15.276,13.415 2.854,3.237 5.235,7.762 7.139,13.562 1.902,5.807 2.847,11.087 2.847,15.848 0,13.127 -5.037,24.455 -15.126,33.969 3.43,6.088 5.141,12.658 5.141,19.697 0,7.043 -1.663,14.038 -4.996,20.984 -3.327,6.94 -7.851,11.938 -13.559,14.982 0.951,5.709 1.423,11.04 1.423,15.988 0,31.785 -18.274,47.678 -54.823,47.678 h -34.536 c -24.94,0 -57.483,-6.943 -97.648,-20.841 -0.953,-0.38 -3.709,-1.383 -8.28,-2.998 -4.571,-1.615 -7.948,-2.806 -10.138,-3.565 -2.19,-0.767 -5.518,-1.861 -9.994,-3.285 -4.475,-1.431 -8.087,-2.479 -10.849,-3.142 -2.758,-0.664 -5.901,-1.283 -9.419,-1.855 -3.52,-0.571 -6.519,-0.855 -8.993,-0.855 h -9.136 V 219.285 h 9.136 c 3.045,0 6.423,-0.859 10.135,-2.568 3.711,-1.714 7.52,-4.283 11.421,-7.71 3.903,-3.427 7.564,-6.805 10.992,-10.138 3.427,-3.33 7.233,-7.517 11.422,-12.559 4.187,-5.046 7.47,-9.089 9.851,-12.135 2.378,-3.045 5.375,-6.949 8.992,-11.707 3.615,-4.757 5.806,-7.613 6.567,-8.566 10.467,-12.941 17.795,-21.601 21.982,-25.981 7.804,-8.182 13.466,-18.603 16.987,-31.261 3.525,-12.66 6.427,-24.604 8.703,-35.832 2.282,-11.229 5.903,-19.321 10.858,-24.27 18.268,0 30.453,4.471 36.542,13.418 6.088,8.945 9.134,22.746 9.134,41.399 0,11.229 -4.572,26.503 -13.71,45.821 -9.134,19.32 -13.698,34.5 -13.698,45.539 h 100.495 c 9.527,0 17.993,3.662 25.413,10.994 7.426,7.327 11.143,15.843 11.143,25.553 -0.003,6.661 -2.05,14.371 -6.142,23.137 z"
   id="path2"
   inkscape:connector-curvature="0" />
</g>
<g
   id="g6">
</g>
<g
   id="g8">
</g>
<g
   id="g10">
</g>
<g
   id="g12">
</g>
<g
   id="g14">
</g>
<g
   id="g16">
</g>
<g
   id="g18">
</g>
<g
   id="g20">
</g>
<g
   id="g22">
</g>
<g
   id="g24">
</g>
<g
   id="g26">
</g>
<g
   id="g28">
</g>
<g
   id="g30">
</g>
<g
   id="g32">
</g>
<g
   id="g34">
</g>
</svg>
