{#
/**
 * @file
 * Default theme implementation for flag count.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag count label.
 * - value: The flag count number.
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('trb_social/flags') }}

{# Set the remaining Flag CSS classes. #}
{% set target_class = 'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id() %}

{% block content %}
<div{{ attributes.addClass('flag-count').setAttribute('data-flag-count-for', target_class) }}>
  <span class="flag-count-label">{{ title }}</span>
  <span class="flag-count-value">{{ value }}</span>
</div>
{% endblock %}
{% endspaceless %}
